


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>

    <h3>Name : @ViewBag.Name</h3>
    <h3>Email : @ViewBag.Email</h3>
    <h3>Password : @ViewBag.Password</h3>

</head>
<body>
</body>
</html>
